#container {
  height: 500px;
}

.rack-container {
  display: flex;
  flex-wrap: wrap;
}

.rack-item {
  flex: 1 0 calc(50% - 10px);
  margin-right: 20px;
  margin-bottom: 20px;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex: 1 0 calc(25% - 10px);
  margin-right: 10px;
  margin-bottom: 10px;
}

.highcharts-figure,
.highcharts-data-table table {
  min-width: 310px;
  max-width: 1200px;
  margin: 1em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 800px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}
